<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqy.cms.dao.Article_tagDao">
	<select id="select" resultType="Article_tag">
		SELECT * FROM cms_article_tag
	</select>

	<select id="selectById" resultType="Article_tag">
		SELECT * FROM cms_article_tag
		WHERE id=#{id}
	</select>

	<insert id="insert">
		INSERT INTO cms_article_tag(aid,tid)VALUES
		(#{aid},#{tid})
	</insert>

	<update id="update">
		UPDATE cms_article_tag
		SET aid=#{aid},tid=#{tid}
		WHERE id=#{id}
	</update>

	<delete id="delete">
		DELETE FROM cms_article_tag WHERE id in(${ids})
	</delete>
</mapper>
