<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqy.cms.dao.TagDao">
	<select id="select" resultType="Tag">
		SELECT * FROM cms_tag
	</select>

	<select id="selectById" resultType="Tag">
		SELECT * FROM cms_tag WHERE
		id=#{id}
	</select>

	<insert id="insert">
		INSERT INTO cms_tag(tagname)VALUES
		(#{tagname})
	</insert>

	<update id="update">
		UPDATE cms_tag
		SET tagname=#{tagname}
		WHERE id=#{id}
	</update>

	<delete id="delete">
		DELETE FROM cms_tag WHERE id in(${ids})
	</delete>
</mapper>
